body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}

button {
    width: 95%;
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

#message {
    margin-top: 10px;
    color: green;
}
